<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="text-center bg-dark hero-image">

    <!-- Preloader -->
    <div class="loader-wrapper">
        <div class="loading" id="loader">
            <div class="arc"></div>
            <div class="arc"></div>
            <div class="arc"></div>
        </div>
    </div>

    <!-- localization -->
    <div class="locale-button">
        <div class="locale-button-style">
            <% if (typeof en !== 'undefined') { %>
                <a href="/ru"><%- en.toggleLocaleEmote %></a>
            <% } %>
            <% if (typeof ru !== 'undefined') { %>
                <a href="/"><%- ru.toggleLocaleEmote %></a>
            <% } %>
        </div>
        
    </div>

    <!-- Server Name Head Line -->
    <div class="d-flex flex-row-reverse" style="margin-top: 0;">
        <div class="p-2 fts-logo">
        <img style="margin-right: 2rem; width: 100%;" src="img/FTS-logo.png" />
        </div>
    </div>
    
    <!-- First diagonal box -->
    <div class="diagonal-box" style="margin-top: var(--top-margin);"> 
        <!-- First diagonal content box -->
        <div class="diagonal-content">
        <h2 class="display-2 text-white fade show">
            <!-- Welcome -->
            <% if (typeof en !== 'undefined') { %>
                <%= en.welcome %>
            <% } %>
            <% if (typeof ru !== 'undefined') { %>
                <%= ru.welcome %>
            <% } %>
        </h2>
        <p class="lead text-white">
            <% if (typeof en !== 'undefined') { %>
                <%= en.welcomesubheadline %>
            <% } %>
            <% if (typeof ru !== 'undefined') { %>
                <%= ru.welcomesubheadline %>
            <% } %>
        </p>
        <p>
            <a href="#leaderboards" class="btn btn-lg btn-outline-light fw-bold border-black text-white"><% if (typeof en !== 'undefined') { %>
                <%= en.Leaderboards %>
            <% } %>
            <% if (typeof ru !== 'undefined') { %>
                <%= ru.Leaderboards %>
            <% } %></a>
            <a href="#about" class="btn btn-lg btn-outline-light fw-bold border-black text-white"><% if (typeof en !== 'undefined') { %>
                <%= en.learnmore %>
            <% } %>
            <% if (typeof ru !== 'undefined') { %>
                <%= ru.learnmore %>
            <% } %></a>
        </p>
        </div>
    
    </div>
    
    <!-- Second diagonal box -->
    <div class="diagonal-box background-one">
        <div class="diagonal-content text-center">
        <h2 class="display-2 text-white" id="leaderboards">
            <% if (typeof en !== 'undefined') { %>
                <%= en.Leaderboards %>
            <% } %>
            <% if (typeof ru !== 'undefined') { %>
                <%= ru.Leaderboards %>
            <% } %>
        </h2>

        <div class="card w-60 m-auto">
            <div class="card-header">
                Track selector
            </div>
            <div class="card-body">
                <p class="card-text">Choose a track to display the leaderboard for it</p>
                <form action="/post/timetrials" method="post">
                    <label for="maps">Choose:</label>
                    <select class="form-select" id="maps" name="maps">
                        <% tracks.forEach(track => { %>
                            <option value="<%= track.track_id %>"><%= track.track_name %></option>
                        <% }); %>
                    </select>
                    <input class="btn btn-outline-light fw-bold border-black text-white" type="submit" value="Open">
                </form>
            </div>
        </div>
        <br>
        <div class="card w-50 m-auto">
            <div class="card-body">
            <div class="button-group w-50 m-auto" data-left="4px">
                <button onClick="buttonClick('4px')"><% if (typeof en !== 'undefined') { %>
                    <%= en.sliderleft %>
                <% } %>
                <% if (typeof ru !== 'undefined') { %>
                    <%= ru.sliderleft %>
                <% } %></button>
                <button onClick="buttonClick('50%')"><% if (typeof en !== 'undefined') { %>
                    <%= en.sliderright %>
                <% } %>
                <% if (typeof ru !== 'undefined') { %>
                    <%= ru.sliderright %>
                <% } %></button>
            </div>
            </div>
            <ul class="list-group list-group-flush">
            <div class="score-card">
                <li class="list-group-item">
                <div class="leader">
                    <div class="user">
                    <div class="number">1</div>
                    <div class="user-pic"></div>
                    </div>
                    <div class="user-info">
                    <div class="user-name">sexy monke man</div>
                    <div class="view-count">3:42:314</div>
                    </div>
                    <div class="cols">
                    <p class="cols-item">Honda NSX Type R</p>
                    <p class="cols-item">AkinaD Downhill</p>
                    <p class="cols-item">23.01.2022</p>
                    </div>
                </div>
                </li>
                <li class="list-group-item">
                <div class="leader">
                    <div class="user">
                    <div class="number">2</div>
                    <div class="user-pic"></div>
                    </div>
                    <div class="user-info">
                    <div class="user-name">horny niklas guy</div>
                    <div class="view-count">4:16:805</div>
                    </div>
                    <div class="cols">
                    <p class="cols-item">Nissan Skyline R34</p>
                    <p class="cols-item">AkinaD Downhill</p>
                    <p class="cols-item">23.01.2022</p>
                    </div>
                </div>
                </li>
            </div>
            </ul>
    
            <div class="card-footer">
            <a href="#" class="card-link"><% if (typeof en !== 'undefined') { %>
                <%= en.link1 %>
            <% } %>
            <% if (typeof ru !== 'undefined') { %>
                <%= ru.link1 %>
            <% } %></a>
            <a href="#" class="card-link"><% if (typeof en !== 'undefined') { %>
                <%= en.link2 %>
            <% } %>
            <% if (typeof ru !== 'undefined') { %>
                <%= ru.link2 %>
            <% } %></a>
            </div>
    
        </div> <!-- Card end -->
        </div>
    </div>
    
    <!-- Third diagonal box -->
    <div class="diagonal-box background-two">
        <div class="diagonal-content text-center text-white">
        <h2 class="display-2" id="about">
            <% if (typeof en !== 'undefined') { %>
                <%= en.aboutserver %>
            <% } %>
            <% if (typeof ru !== 'undefined') { %>
                <%= ru.aboutserver %>
            <% } %>
        </h2>
    
        <p class="lead">
            <% if (typeof en !== 'undefined') { %>
                <%- en.abouttext %>
            <% } %>
            <% if (typeof ru !== 'undefined') { %>
                <%- ru.abouttext %>
            <% } %>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0Sdf_0YuX6g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
        </div>
    </div>
    
    <div class="credits-box">
        <div class="p-2 text-white credits-box-inner">
        <p>
            Made with &#x2615; by arigata9 / 0xygen
        </p>
        </div>
    </div>
    
    <!-- Javascript stuff going on here... -->

    <script>
        "use strict";
        const setButtonLeftAttr = (value) => {
            const buttonGroup = document.querySelector('.button-group');
            buttonGroup.dataset.left = value;
        };
        const buttonClick = (value) => {
            setButtonLeftAttr(value);
        };
    </script>
  
</body>
</html>